# virtual environment
myenv/
#APi keys - Never commit this 
.env

#chromDb local storage
chroma_db/

#python cache
__pycache__/
*.pyc 
*.pyo 

#os files 
.DS_Store
Thumbs.db 

#jupyter
.ipynb_checkpoints/

# PDF files — too large for git
data/*.pdf
src/data/*.pdf
data/samples/*.pdf